@import "./themes";
@import "./utils";
@import "./bootstrap";

div.zoo-error-bar {
  padding: 10px;
  margin-bottom: 20px;
  color: #f4f4f4;
  background-color: #d02337;
  @include border-radius(2px);
}

.mat-icon {
  .mat-18 {
    @include mat-icon-size(18px);
  }
  .mat-16 {
    @include mat-icon-size(16px);
  }
}

.mat-dialog-container > * {
  display: flex !important;
  flex-direction: column;
  height: 100%;
}

.mat-dialog-content {
  max-height: inherit !important;
  flex: 1;
}

.zoo-full-width {
  width: 100%;
}

.zoo-bold {
  font-weight: bold;
}

.zoo-warn {
  color: #d03e3c;
}

mat-toolbar mat-icon {
  width: 40px !important;
}

button {
  text-transform: uppercase;
}

button.mat-menu-item {
  text-transform: none;
}

mat-checkbox.zoo-nolabel .mat-checkbox-label {
  display: none;
}
