sudo: required

dist: trusty

language: node_js

addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable
      - google-chrome-beta

node_js:
  - "7"

before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

before_script:
  - npm install -g @angular/cli
  - npm install
  - ng build --prod

script:
  - ng test --watch=false
  - ng e2e
